
<mat-toolbar color="primary">

<span>
  BrightChamps MarketPlace
</span>

<span class="menu-buttons"></span>
<button *ngIf="! isLoggedIn()" mat-raised-button color="primary" routerLink="/login">
  Login
</button>

<button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">
  Logout
</button>

</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/" >Home</button>
  <button mat-raised-button color="primary" routerLink="/apps" >Apps</button>
  </mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
<button mat-raised-button color="primary" routerLink="/" >Home</button>
<button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/apps" >Apps</button>
<button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct" >Add Product</button>
<button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails" >All Products</button>

</mat-toolbar>